/*General styles */

* {
	box-sizing: border-box;

}

main {
	background: url('/images/background.jpg') no-repeat center center;
	background-size: cover;


}

/*Header and navigation styles*/

#logo-img {
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px 0;
}

.navbar-brand {
   padding-top: 10px;
}

.navbar-brand h1 {
	color: #4169E1;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;

}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;

}

/*Footer styles*/

#contact-info {
	background: url('/images/Tallinn.jpg') no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	position: relative;

	
}

.page-footer {
	color: rgba(255, 255, 255, .8);
}

.copyright {
	color: navy;
}

.social-icons {
	display: inline-block;
}
