/*General styles */

* {
	box-sizing: border-box;

}

main {
	background: url('/images/background.jpg') no-repeat center center;
	background-size: cover;


}

/*Header and navigation styles*/

#logo-img {
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px 0;
}

.navbar {
	background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); /* to make the navbar background gradient; style is available through https://cssgradient.io/gradient-backgrounds/ */

}

.navbar-brand {
   padding-top: 10px;
}

.navbar-brand h1 {
	color: #4169E1;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;

}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;

}


/*Footer styles*/

#contact-info {
	background: url('/images/Tallinn.jpg') no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	position: relative;

	
}

.page-footer {
	color: rgba(255, 255, 255, .8);
}

.copyright {
	color: navy;
}

.social-icons {
	display: inline-block;
}


/*Media quesries depending on the screen size 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Large devices (desktops, 992px and up). We want to add / sign after the navigation tags when the screen size is medium */
@media (min-width: 992px) { 
	.nav-link::after {
	content: "/";
	color: peru;
	padding-left: 0.75rem;
  }  /* This code will help us add the / sign after the navigation items */
.nav-item .contact::after {
	content: none;
  } /* after the last item we don't want the sign, therefore, we set the content as none */
   .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  	color: peru;
  }
   .navbar-nav .active>.nav-link {
   	color: peru !important;  /*to make the active item color different from others. With important we override the bootstrap style*/
   }
}  

