/*General styles */

* {
	box-sizing: border-box;


}

body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
}

/*Header and navigation styles*/

#logo-img {
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px 0;
}

.navbar {
	background-color: #85FFBD;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); /* to make the navbar background gradient; style is available through https://cssgradient.io/gradient-backgrounds/ */
}

.navbar-brand {
   padding-top: 10px;
}

.navbar-brand h1 {
	color: #4169E1;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-toggler {
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	border:none;
}

.navbar-toggler:focus {
  
  outline:none;
  
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  	color: peru;   
  }
   .navbar-nav .active>.nav-link {
   	color: peru !important;  /*to make the active item color different from others. With important we override the bootstrap style*/
   }

  .nav-item {
  	font-weight: bold;

  }

.jumbotron h2 {
	font-size: 3rem;

}

.jumbotron {
	background: url('../images/audience.jpg') no-repeat center center;
	background-size: cover;
	border-radius: 0;
	width: 100%;
	height: 400px;
	margin: 0;
}

/*Countdown style*/

#countdown-div {
	display: inline-block;
	font-size: 30px;
	width: 100%;
	max-width: 600px;
}

#countdown-div > div {
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);;
}

#countdown-div > span {
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	background-color: #00816A !important;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

/*Footer styles*/

#contact-info {
	background-color: #000;
	position: relative;
	
}

.page-footer {
	color: rgba(255,255,255);
}

a[href^="mailto"] { 
	color: peru; 
}

a[href^="mailto"]:hover {
  color: #ce0606;
  cursor: pointer;
  text-decoration: none;
}

#additional-contact-info {
	font-style: italic;
}


section > hr{
	height: 12px;
	font-weight: 700;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
	
} /*This will achieve the change in the style of hr tag.*/

.copyright {
	color: navy;
}

.social-icons {
	display: inline-block;
}




/*Media quesries depending on the screen size 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Large devices (desktops, 992px and up). We want to add / sign after the navigation tags when the screen size is medium */
@media (min-width: 992px) { 
	.nav-link::after {
	content: "/";
	color: peru;
	padding-left: 0.75rem;
  }  /* This code will help us add the / sign after the navigation items */
.nav-item .contact::after {
	content: none;
  } /* after the last item we don't want the sign, therefore, we set the content as none */ 
}  

