@charset "UTF-8";

@media all{
    body{
        font-family: 'Times New Roman', Times, serif
    }
}

.banner{
    padding: 13px;
    background: #002b70;
}

.banner .bannerChars{
    color: black;
    margin-left: 15px;
    border-radius: 5px;
    border: solid;
    padding:5px;
    background-color: white;
    border-color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bolder;
}

.banner .bannerChars:hover{
    opacity: 0.5;
}

.logo{
    background-image: url("./logo.png");
    padding: 5px;
}

.fa{
    padding: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
    border-radius: 10px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -5px;
}

.fa-twitter{
    background: #55ace5;
    color: white;
    border-radius: 10px;
    float: right;
    margin-top: -5px;
}

nav li a {
    border-radius: 10px;
    float: left;
    padding: 2px;
    margin: 0 auto;
    position: relative;
    margin-right: 20px;

}

.jumbotron
{   
    padding-top: 0px;
    padding-bottom:0px;
    background-image:url('../audience-development.jpg');
    background-size: cover;
    background: contain ;
    background-repeat: no-repeat;    
    width: 100%; 
    height:500px; 
    max-width: 100%;  
 }

#headChars{
    color: aliceblue;
    top: 150px;
    position: relative;
    font-size: 550%;
}

#pChars{
    color: aliceblue;
    top :190px;
    position: relative;
    font-size: 180%;

}

