body {
    color: white;
    background: url('../images/audience.jpg') no-repeat center center;
    background-size: cover;
}

.card-deck {
    color: black;
}

.card-header:hover{
    background-color:#007bff;
    color: white;
}