body {
    color: white;
    background: url('../images/audience.jpg') no-repeat center center;
    background-size: cover;
}

.card-deck {
    color: black;
}

.card-header:hover{
    background-color:#007bff;
    color: white;
}

.modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

